<template>
  <div class="ion-page">
     <ion-header>
        <ion-toolbar>
          <ion-title>Ionic App </ion-title>
        </ion-toolbar>
     </ion-header>
     <ion-content class="ion-padding">
       <ion-grid>
         <form :model="form">
           <ion-col>
             <ion-item>
               <ion-label>FirstName : </ion-label>
               <ion-input :value="form.fname" @input="form.fname = $event.target.value"></ion-input>
             </ion-item>
             <ion-item>
               <ion-label>LastName : </ion-label>
               <ion-input :value="form.lname" @input="form.lname = $event.target.value"></ion-input>
             </ion-item>
             <ion-item>
               <ion-label>MiddleName : </ion-label>
               <ion-input :value="form.mname" @input="form.mname = $event.target.value"></ion-input>
             </ion-item>
           </ion-col>
           <ion-col>
             <ion-button type="button" color="primary" expand="block" @click="onSubmit()">Create</ion-button>
           </ion-col>
         </form>
       </ion-grid>
     </ion-content>
  </div>
</template> 

<script>

export default {
  name: 'Home',
  components: {},
  data() {
    return {
      'form': {}
    }
  },
  methods: {
    onSubmit() {
      console.log(this.form)
    }
  }
}
</script>
